.btn {

    &,
    &:link,
    &:visited {
        font-size: 1.6rem;
        text-decoration: none;
        border: 2px solid var(--color-white);
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        transition: all .2s;

        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0, .2);

    }

    &--white {
        color: var(--color-white);

        &::after {
            background-color: var(--color-white);
        }
    }
}